<%= form_with(model: @menu, class:"form-group") do |form| %>
  <% if @menu.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(@menu.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
        <% @menu.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :description, style: "display: block" %>
    <%= form.text_area :description, class: "form-control" %>
  </div>
      
  <div class="form-group">
    <%= form.label :price, style: "display: block" %>
    <%= form.number_field :price, class: "form-control" %>
  </div>

  <div class="form-group">
      <%= form.label :category_ids, style: "display: block" %><br />
      <%= form.select :category_ids,
    options_from_collection_for_select(Category.all, :id, :name),
    { include_blank: false },
    multiple: true,
    class: 'select multiple-select'
  %>
  </div>

    

  <div>
    <%= form.submit class: "btn btn-primary shadow-sm border border-light" %>
  </div>
<% end %>