<%= form_with(model: @order, class:"form-group") do |form| %>
  <% if @order.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(@order.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
        <% @order.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.hidden_field :category_id, class: "form-control" %>
  </div>
  <div class="menu-input">
    <div class="form-row">
      <div class="form-group m-4">
      <%= form.label  :menu_ids, style: "display: block" %>
      <%= form.select :menu_ids,
  options_from_collection_for_select(Menu.all, :id, :name),
  { include_blank: false },
  class: 'select form-control'
%>
      <div class="form-group m-4">
        <%= form.label :qty, style: "display: block" %>
        <%= form.number_field :qty, class: "form-control"%>
      </div>
    </div>
  </div>

  <div class="d-flex flex-row-reverse">
    <button class="btn btn-primary shadow-sm border border-light">
      Add menu
    </button>
  </div>

  <div>
    <%= form.submit class: "btn btn-primary shadow-sm border border-light" %>
  </div>
<% end %>